<div class="resource-item">
  <a href="#" class="resource-item_link">
    <div class="resource-item_bg"></div>

    <div class="resource-item_title">
      UI/Web&amp;Graph design for teenagers 11-17&#160;years old
    </div>

    <div class="resource-item_info-box">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
      ><path
          fill="currentColor"
          d="M16.813 4.419A1 1 0 0 0 16 4H3a1 1 0 0 0-.813 1.581L6.771 12l-4.585 6.419A1 1 0 0 0 3 20h13a1 1 0 0 0 .813-.419l5-7a1 1 0 0 0 0-1.162zM15.485 18H4.943l3.87-5.419a1 1 0 0 0 0-1.162L4.943 6h10.542l4.286 6z"
        /></svg>
      <span class="resource-item_info">
        04.11.2022
      </span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        style="margin-left: auto"
      ><path
          fill="currentColor"
          d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2m0 18a8 8 0 1 1 8-8a8 8 0 0 1-8 8"
        /><path
          fill="currentColor"
          d="M12 11c-2 0-2-.63-2-1s.7-1 2-1s1.39.64 1.4 1h2A3 3 0 0 0 13 7.12V6h-2v1.09C9 7.42 8 8.71 8 10c0 1.12.52 3 4 3c2 0 2 .68 2 1s-.62 1-2 1c-1.84 0-2-.86-2-1H8c0 .92.66 2.55 3 2.92V18h2v-1.08c2-.34 3-1.63 3-2.92c0-1.12-.52-3-4-3"
        /></svg>
      <span class="resource-item_info">
        0022
      </span>
    </div>
  </a>
</div>
