<%= stylesheet_link_tag params[:controller] %>

<% content_for :aside do %>
  <aside>
    <div>
      A simple page
    </div>
  </aside>
<% end %>

<h2 class="mt-1.5"><%= t("models.resources") %></h2>
<!-- Adapted from https://codepen.io/wikyware-net/pen/dyKPRxQ -->
<div class="resources-container">
  <%= render @resources %>
</div>
