<header>
  <%= link_to "💫 Mini Irawo", root_path, class: "logo bold" %>
</header>
<main></main>
<footer>
  <span>&copy; Copyright 2024 💫 Mini Irawo</span>
  &bull;
  <span>Crafted with 💜 by
    <a href="https://tobihans.space" target="_blank">Hans Tognon</a></span>
</footer>
