.resources-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.resource-item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 0.625rem;
}
.resource-item_link {
  display: flex;
  flex-direction: column;

  padding: 30px 20px;
  background-color: rgb(from var(--default) r g b / 85%);

  min-height: 200px;
  max-height: 400px;
  overflow: hidden;

  position: relative;
}
.resource-item_link:hover,
.resource-item_link:hover .resource-item_info {
  text-decoration: none;
  color: var(--muted);
}

.resource-item_title {
  flex-grow: 1;
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: var(--muted);

  z-index: 2;
  position: relative;
}
.resource-item_info-box {
  display: flex;
  align-items: center;
  gap: 0.15rem;

  font-size: 18px;
  color: var(--muted);

  z-index: 2;
  position: relative;
}
.resource-item_info {
  font-weight: bold;
  color: var(--active);

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.resource-item_bg {
  height: 128px;
  width: 128px;
  background-color: var(--active);

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 979px) {
  .resource-item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .resource-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 639px) {
  .resource-item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .resource-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .resource-item_link {
    padding: 22px 40px;
  }
  .resource-item_info-box {
    font-size: 16px;
  }
}
