<footer>
  <span>&copy; Copyright 2024 💫 Irawo
    <sup class="accent">mini</sup></span>
  &bull;
  <span>
    <%= t("footer.attribution") %>
    <a href="https://tobihans.space" target="_blank">Hans Tognon</a>
  </span>
</footer>
