<header>
  <h1>
    <%= link_to "💫 Irawo", root_path, class: "logo bold" %>
    <sup class="accent">mini</sup>
  </h1>
  <menu style="margin-left: 1.25rem; flex-grow: 1;">
    <li class="selected">Ressources</li>
    <li>Achats</li>
    <li>Profile</li>
    <li style="margin-left: auto;">
      <a href="/login" class="px-.75 py-.5">Login</a>
    </li>
  </menu>
</header>
